body{
	background: white;
	margin: 0 auto;
	width: 980px;
}
#body-content{
	margin: 0;
	width: 970px;
}
#jump-to-nav{
	margin-bottom: 0px;
}
#content{
	position: inherit !important;
	margin: auto !important;
	padding: 0 !important;
	border: none !important;
	background: none !important;
}
.mw-content-ltr{
	overflow: hidden;
}
#mp-2012-banner{
	margin: 0 10px 0 10px !important;
	height: 65px;
	border-bottom: 1px solid #aaa;
	background: white;
}
	#mp-2012-banner a{
		color: #000;
	}
	#mp-2012-banner a: hover{
		color: #DB0000;
	}
	#mp-2012-banner p{
		color: #000;
	}
	#mp-2012-banner-logo {
		display: none;
	}
#mp-2012-banner > div{
		height: 65px;
		line-height: 65px;
	}
#mp-2012-banner-title{
	width: 180px;
}
#mp-2012-banner-title p{
	display: none;
}
#mp-2012-banner-intro{
	width: 150px;
	margin: 0;
	float: left;
	text-align: left;
}
#mp-2012-banner-intro p{
	display: none;
}
.number-of-articles {
	color: #DB0000;
}
#mp-2012-banner-intro p{
	color: #000;
}
#mp-2012-body{
	margin-top: 10px;
}
.mp-2012-column-left-block{
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #EEE;
	box-shadow: 0px 5px 15px #CCCCCC;
}
#mp-2012-column-left h2{
	color: #000;
	margin-bottom: 20px;
}
#mp-2012-column-left{
	margin-bottom: 50px;
}

.mp-2012-column-right-block{
	margin: 0;
	padding: 0;
}
#mp-2012-column-right > div {
	margin-top: auto;
}
#mp-2012-column-right-block-a{
	border: none;
	box-shadow: none;
	background: none;
}
.mp-2012-column-right-subblock{
	border: 1px solid #EEE;
	box-shadow: 0px 5px 15px #CCCCCC;
	padding: 10px;
	margin-right: 10px;
	margin-top: 12px;
}
#mp-2012-column-right-block-b{
	border: none;
	box-shadow: none;
	background: none !important;
}
#mp-2012-sisters{
	border-top: 3px double #aaa;
}
#footer{
	border-top: 1px solid #DB0000;
	border-bottom: 1px solid #DB0000;
}

#p-logo{
	display: none;
}
#p-navigation{
	display: none;
}
#p-help{
	display: none;
}
#p-tb{
	display: none;
}
#p-lang{
	display: none !important;
}
	#ca-varlang-7,#ca-varlang-6,#ca-varlang-5,#ca-varlang-4,#ca-varlang-3,#ca-varlang-2,#ca-varlang-1,#ca-varlang-0{
		display: none !important;
	}
	#ca-viewsource,#ca-history{
		display: none !important;
	}
#column-one{
	position: relative;
	padding: 0 !important;

}

#p-cactions{
	position: absolute;
	top: 40px;
	left: 514px;
	width: 180px;
	z-index: 10;
}
#p-cactions li{
	border: none;
	background: none;
}
li#ca-watch{
	margin-left: 0;
}
li#ca-unwatch{
	margin-left: 0;
}
li#ca-talk{
	margin-right: 0;
}
div#p-cactions li a {
	background-color: #FFFFFF !important;
}
#p-personal{
	top:15px;
}
#p-search {
	top: 45px;
	left: 813px;
	width: auto;
	z-index: 15;
	position: absolute;
}
#p-search h3{
	display: none;
}
	#searchInput{
		width: 168px;
	}
	#searchGoButton{
		display: none;
	}
	#mw-searchButton{
		display: none;
	}
	#searchform{
		margin-top: 15px;
	}
#p-search .pBody{
	border: none;
	padding: 0;
	background:none;
}

#mp-2012-links{
	padding: 0 10px 15px 10px;
}
	#mp-2012-links table{
		width: 960px;
		padding: 10px;
		border: 1px solid #EEE;
		box-shadow: 0px 5px 15px #CCCCCC;
	}

#firstHeading{
	width: 970px;
	line-height: 65px;
	margin-top: 15px;
}
#mw-content-text{
	margin-top: 10px;
	width: 970px;
}
#siteSub{
	display: none !important;
}
#catlinks{
	width: 958px;
}
#footer{
	width: 970px;
}