@font-face{
	font-family: 'Fangzheng Baosong';
	src: url('http://ly-fonts.qiniudn.com/%E6%96%B9%E6%AD%A3%E6%8A%A5%E5%AE%8B%E7%AE%80%E4%BD%93.ttf');
}
a{
	color: #36b;
}
a:hover{
	color: #DB0000 !important;
	text-decoration: none;
}
:focus{
	outline: none;
	}
body{
	background: white;
	margin: 0 auto;
	width: 980px;
}
#body-content{
	margin: 0;
	width: 970px;
}
#jump-to-nav{
	margin-bottom: 0px;
}
#content{
	background: none !important;
	border: none !important;
	margin: auto !important;
	padding: 0 !important;
	position: inherit !important;
}
.mw-content-ltr{
	overflow: hidden;
}
#mp-2012 h1{
	font-family: 'Fangzheng Baosong';
	font-size: 250%;
	font-weight: normal;
}
#mp-2012-banner{
	background: white;
	border-bottom: 1px solid #aaa;
	height: 55px;
	margin: 0 10px 0 10px !important;
}
	#mp-2012-banner a{
		color: #000;
	}
	#mp-2012-banner a: hover{
		color: #DB0000;
	}
	#mp-2012-banner p{
		color: #000;
	}
	#mp-2012-banner-logo {
		display: none;
	}
#mp-2012-banner > div{
		height: 65px;
		line-height: 50px;
	}
#mp-2012-banner-title{
	width: 180px;
}
#mp-2012-banner-title p{
	display: none;
}
#mp-2012-banner-intro{
	float: left;
	margin: 0;
	text-align: left;
	width: 150px;
}
#mp-2012-banner-intro p{
	display: none;
}
.number-of-articles {
	color: #DB0000;
}
#mp-2012-banner-intro p{
	color: #000;
}
#mp-2012-body{
	margin-top: 10px;
}
.mp-2012-column-left-block{
	border: 1px solid #EEE;
	box-shadow: 0px 5px 15px #CCCCCC;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px;
}
#mp-2012-column-left h2{
	color: #000;
	margin-bottom: 20px;
}
#mp-2012-column-left{
	margin-bottom: 50px;
}

.mp-2012-column-right-block{
	margin: 0;
	padding: 0;
}
#mp-2012-column-right{
	margin-bottom: 50px;
}
#mp-2012-column-right > div {
	margin-top: auto;
}
#mp-2012-column-right-block-a{
	background: none;
	border: none;
	box-shadow: none;
}
.mp-2012-column-right-subblock{
	border: 1px solid #EEE;
	box-shadow: 0px 5px 15px #CCCCCC;
	margin-right: 10px;
	margin-top: 12px;
	padding: 10px;
}
#mp-2012-column-right-block-b{
	background: none !important;
	border: none;
	box-shadow: none;
}
#mp-2012-sisters{
	border-top: 3px double #aaa;
}
.mw-body a.extiw:hover {
	color: #DB0000 !important;
}
#footer{
	border-bottom: 1px solid #DB0000;
	border-top: 1px solid #DB0000;
}

#p-logo{
	display: none;
}
#p-navigation{
	display: none;
}
#p-help{
	display: none;
}
#p-tb{
	display: none;
}
#p-lang{
	display: none !important;
}
	#ca-varlang-7,#ca-varlang-6,#ca-varlang-5,#ca-varlang-4,#ca-varlang-3,#ca-varlang-2,#ca-varlang-1,#ca-varlang-0{
		display: none !important;
	}
	#ca-viewsource,#ca-history{
		display: none !important;
	}
#column-one{
	padding: 0 !important;
	position: relative;

}

#p-cactions{
	font-size: 1.1em;
	left: 514px;
	position: absolute;
	top: 40px;
	width: 180px;
	z-index: 10;
}
#p-cactions li{
	background: none;
	border: none;
}
li#ca-watch{
	margin-left: 0;
}
li#ca-unwatch{
	margin-left: 0;
}
li#ca-talk{
	margin-right: 0;
}
div#p-cactions li a {
	background-color: #FFFFFF !important;
	color: #000000;
}
#p-cactions li.selected a{
	color: brown;
}
#p-cactions .new a{
	color: #000000;
}
#p-personal{
	top:15px;
}
#p-personal li{
	color: #000000;
}

#p-personal li a{
	color: #000000;
}
	.portlet a:hover{
		color: #DB0000 !important;
	}
#p-search {
	left: 793px;
	position: absolute;
	top: 55px;
	width: auto;
	z-index: 15;
}
#p-search h3{
	display: none;
}
	#searchInput{
		width: 168px;
	}
	#searchGoButton{
		display: none;
	}
	#mw-searchButton{
		display: none;
	}
	#searchform{
		margin-top: 15px;
	}
#p-search .pBody{
	background:none;
	border: none;
	padding: 0;
}

#mp-2012-links{
	display: none;
}

#firstHeading{
	line-height: 65px;
	margin-top: 15px;
	width: 960px;
}
#mw-content-text{
	margin-top: 20px;
	width: 970px;
}
#siteSub{
	display: none !important;
}
#catlinks{
	width: 958px;
}
#footer{
	width: 970px;
}

#preftoc{
	margin-top: 10px;
}
#preftoc li{
	background-color: #FFFFFF;
	border: none; 
}
#preftoc li.selected{
	background-color: #FFFFFF;
	border: none;

}
#preftoc > li.selected {
	top: 0;
}
#preftoc li.selected a{
	color: brown;
	cursor: auto;
}
#preferences{
	background-color: #FFFFFF;
	border: none;
	padding: 0;
}
.prefsection table, .prefsection legend {
	background-color: #FFF;
}

fieldset{
	border-color: #EEE;
	margin: 0 0 15px 0;
	max-width: 960px;
}
	#mw-prefsection-rendering fieldset{
	  	box-shadow: 0 5px 10px #CCCCCC;
	  }

	#mw-prefsection-echo fieldset{
	  	box-shadow: 0 5px 10px #CCCCCC;
	  }
	#mw-prefsection-watchlist fieldset{
	  	box-shadow: 0 5px 10px #CCCCCC;
	  }
	#mw-prefsection-rc fieldset{
	  	box-shadow: 0 5px 10px #CCCCCC;
	  }
	#mw-prefsection-editing fieldset{
	  	box-shadow: 0 5px 10px #CCCCCC;
	  }
	#mw-prefsection-personal fieldset{
	  	box-shadow: 0 5px 10px #CCCCCC;
	  }
.mw-prefs-buttons{
	margin: 20px;
}